.container--profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;

    padding: 40px 180px;
}

.short--title {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
}

.profile-description {
    grid-row-gap: 32px;
    max-width: 1100px;
    line-height: 1.4;
}

.image {
    height: auto;
    max-width: 246px;
    border-radius: 250px;
    transform: scale(0.9);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);

}

.item-details {
    text-align: left;
    line-height: 1;
}

p {
    font-size: 15px;
    font-weight: 300;
}
