.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom css per section */

@media screen and (max-width: 1140px) {
  .heading--2{
    padding-left: 40px;
    padding-right: 40px;
  }
}

.heading--2 {
  text-align: left;
  flex-shrink: 1;
}

h2 {
  font-size: 54px;
  font-weight: 300;
  color: #211A4C;
  margin: 0;
}

h3 {
  font-size: 36px;
  font-weight: 300;
  color: #211A4C;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #211A4C;
}
